.list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.list-row:hover {
    background-color: var(--darkgrey);
    transform: all 0.3s;
    border: 0.1rem solid var(--gray);
}

.list-row .td {
    text-align: left;
    width: 18%;
}

.td-image {
    width: 3rem !important;
    margin-right: 2rem;
}

.td-center-align {
    text-align: center;
}

.td-right-align {
    text-align: right;
}

.mobile-td-mkt{
    display: none;
}

@media only screen and (max-width: 1100px) {
    .td-icon {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .td-total-volumes {
        display: none;
    }
}

@media only screen and (max-width: 1000px){
    .desktop-td-mkt{
        display: none;
    }

    .mobile-td-mkt{
        display:block;
    }
}